@use '../utilities/' as var;
.atc {
    display: flex;
    flex-direction: row;
    background-color: var.$prim-dark-cyan;
    border: none;
    border-radius: .45rem;
    color: var.$newt-white;
    width: 100%;
    height: 40px;
    padding-top:10px;
    padding-left: 80px;
}
.atc:hover {
    background-color: var.$darker;
}

.svg-cart {
    margin-right: 10px;
}