$prim-dark-cyan:hsl(158, 36%, 37%);
$prim-Cream: hsl(30, 38%, 92%);

$newt-very-dark-blue: hsl(212, 21%, 14%);
$newt-dark-grayish-blue: hsl(228, 12%, 48%);
$newt-white: hsl(0, 0%, 100%);

$darker: darken($prim-dark-cyan,10%);