@use '../utilities/' as var;

footer {
    font-size: 11px;
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
}
body {
    margin: 0;
    background-color: var.$prim-Cream;
}
h3 {
    margin: 0;
    padding: 20px 0 0 0;
}
main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    background-color: var.$newt-white;
    border-radius: 0 0 1rem 1rem;
}
.text-container {
   margin-left: 1rem;
   margin-right: 1rem;
   margin-bottom: 30px;
   padding-bottom: 30px;
}
.prod-info {
    margin-bottom: 0;
}
.prices {
    display: flex;
    flex-direction: row;
}
    .prod-price-before {
    margin:35px 0 0 25px;
    }